.mrg {
    margin-top: 15px;
}

#wrapper {
    padding: 50px 16px 80px 16px;
}

#ab_row {
    padding-top: 0;
    padding-bottom: 0;
}

#table {
    /* overflow-x: auto!important; */
    padding-top: 3px;
}

#marked {
    background: #E7FFB4!important;
}

#table td:nth-child(11) {
    text-align: right;
}

#table td:nth-child(12) {
    text-align: center;
}

#table td:first-child {
    vertical-align: middle;
}

#table td:first-child>div {
    position: relative;
}

#table td:first-child .outside-buttons {
    position: absolute;
    background-color: #FCFFF5;
    top: -6px;
    display: none;
}

#table td:first-child .outside-buttons.icon-group-1 {
    left: -41px;
}

#table td:first-child .outside-buttons.icon-group-2 {
    left: -73px;
}

#table td:first-child .outside-buttons.icon-group-3 {
    left: -105px;
}

#table tr:hover td:first-child .outside-buttons {
    display: block;
}

#wrapper .content {
    padding: 0;
}

#catalog-org-wrap .jq-selectbox__select {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}
#catalog-org-wrap .jq-selectbox__select:hover {
    border-color: rgba(34,36,38,.35);
    border-radius: .28571429rem;
}

#catalog-org-wrap .jq-selectbox__trigger{
    background-color: transparent;
}
#catalog-org-wrap .jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top: 4px solid #000000;
}
#catalog-org-wrap .jq-selectbox li{
    background-color: transparent;
    border-bottom: 1px solid #fafafa;
}

#catalog-org-wrap .jq-selectbox li:hover {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    z-index: 13;
}

#address_sel .field{
    text-align: left;
}
