.mrg {
    margin-top: 15px;
}

#wrapper {
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 57px;
}

#ab_row {
    padding-top: 0;
    padding-bottom: 0;
}

#table {
    overflow-x: auto!important;
    padding-top: 3px;
}

#marked {
    background: #E7FFB4!important;
}

#table td: nth-child(11) {
    text-align: right;
}

#table td: nth-child(12) {
    text-align: center;
}

#wrapper .content {
    padding: 0;
}
