.mrg {
    margin-top: 15px;
}

#wrapper {
    padding: 50px 16px 16px 16px;
}

#ab_row {
    padding-top: 0;
    padding-bottom: 0;
}

#table {
    /* overflow-x: auto!important; */
    padding-top: 3px;
}

#marked {
    background: #E7FFB4!important;
}

#table td:nth-child(11) {
    text-align: right;
}

#table td:nth-child(12) {
    text-align: center;
}

#table td:first-child {
    vertical-align: middle;
}

#table td:first-child>div {
    position: relative;
}

#table td:first-child .outside-buttons {
    position: absolute;
    top: 0px;
    left: -73px;
    display: none;
}

#table td:first-child .outside-buttons.long-buttons-group {
    left: -105px;
}

#table tr:hover td:first-child .outside-buttons {
    display: block;
}

#wrapper .content {
    padding: 0;
}
